[submodule "include/libs/11Zip"]
	path = include/libs/11Zip
	url = https://github.com/Sygmei/11Zip.git
[submodule "include/libs/concurrentqueue"]
	path = include/libs/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "include/libs/websocketpp"]
	path = include/libs/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
